.container{
    background-color: rgba(168, 206, 193, 0.644);
}

.modules-container{
    background-color: lightpink;
    margin-right: 2em;
}

.form-container{
    padding-left: 3em;
    background-color: rgba(47, 75, 65, 0.244);

}

.input-container{
    width: 90%;
}

.temp{
    background-color: rgba(168, 206, 193, 0.744);
}