.navbar{
    background-color: rgb(104, 92, 175);
    height: 90px;
    padding: 15px;
}

.logo-container{
    margin-left: 2.5em;
    font-size: 28px;
    color: aliceblue;
}

.logo{
    font-size: 40px;
}

.home-button{
    margin-right: 5em;
}